<!-- <app-steps [substeps]="names"></app-steps>
<app-personalinfo></app-personalinfo> -->
<!-- [processStep]="nextStep" -->
<app-steps [substeps]="names"></app-steps>
<!-- <ng-template
      appProcess [processStep]="nextStep" [submitEvent]="submitRequest"  [stepsItems]="steppers" [i]="i">
</ng-template> -->
<!-- <ng-content>

</ng-content> -->
<!-- <app-personalinfo (buttonClick)="onButtonClick()">
<form>
    <label>Name</label>
    <input type="text">
</form>
</app-personalinfo> -->
<ng-template #processview>

</ng-template>
<button (click)="next()">Next⏭️</button>
<button (click)="pre()">pre</button>
<footer>
    <div class="buttoncontainer">
        <button class="btnbottom">Previous</button>
        <button class="btnbottom">Next</button>
    </div>
</footer>