footer{
    position: fixed;
    height: 4rem;
    background-color: white;
    bottom: 0;
    box-shadow: -6px -4px 5px #1211112b;
  
 
    width: 100%;
}
.personalinfo{
    background-color: #000;
}
.container{
    margin-top:5rem ;
    margin-left: 12rem;
    margin-right: 5rem;
}
.stepHeading{
    position: absolute;
    top: 75px;
}
.datacontainer{
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 0px 0px 1px 1px #6666668f;
    margin-top: 4rem;
    width: 100%;
    padding: 2rem 5rem ;
    min-height: 26rem;
    margin-bottom: 5rem;
}
header{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 4rem;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header h1{
    margin: 0;
    margin-left: 3rem;
 
}
.mainForm{
    display: flex;
    gap: 1rem;
}
.progressBar{
    height: 2rem;
    display: flex;
}
.progress-step{
    background-color: black;
    border-radius: 50%;
    color: #000;
    height: 1rem;
    width: 1rem;
}
.footerbox{
    position: absolute;
    left: 0;
}
.buttoncontainer{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right:20rem;
}
.btnbottom{
    background-color: white;
    border-radius: 8px;
    border-style: none;
    border: 2px solid rgb(67, 196, 145);
    width: 7rem;
    height: 2rem;
    margin: 1rem;}
    .error{
        position: absolute;
        top: 75px;
        right:  10px;
        border-radius:5px ;
        padding: 5px;
        background-color: white;
        border: 2px solid rgba(240,12,12,1);
        box-shadow:  -1px 1px 5px 0px rgba(240,12,12,1);
    }