.main-container{
    height: inherit;
    width: 20rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}
.main-container > *{
    color: aqua;
}
.smallcontainer{
    width: 100%;
    height: 2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
}
  

  .vertical {
    display: inline-block;
    width: 3px;
    height: 70%;
    position: absolute;
    top: 41px;
  }
  .vertical {
    box-shadow: inset 0px 4px 6px #ccc;
  }
  .progress-bar {
    box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
  }
a{
    font-weight: 600;
    font-size: 1rem;
    color:#3733338f;
   text-transform:capitalize;
    
}

.product-configuration-side-stepper-container {
  &__step {
    padding-left: 24px;
    border-left: 4px solid #E5E5E5;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 600;
 
    &.completed {
      border-left: 4px solid #0C8450;
      color: #0C8450;
    }
 
    &.in-progress {
      border-left: 4px solid blue;
      color: blue;
    }
  }
}