<div class="formdatacontainer">
  <form [formGroup]="formdata">
    <label id="name">First Name</label>
    <input type="text" formControlName="FirstName" />
    <label for="">Last Name</label>
    <input type="text" formControlName="lastName">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" formControlName="Email" required>
    <label for="phoneNumber">Phone Number</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" formControlName="phone" required>
    <label for="address">Address</label>
    <textarea id="address" name="address" formControlName="address" required></textarea>
    <!-- <button (click)="hello()">clicking</button> -->
  </form>
</div>
<app-footer (btnresponse)="clickEvent($event)"></app-footer>