.formdatacontainer{
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem ;
}
form{
    display: flex;
    flex-direction: column;
    border-color:#bad6c6 ;

}
form > *{
    margin-top: 1rem;
}
input{
    width: 15rem;
    height: 2rem;
    border-radius: 2px;
    border: 2px solid #45474685;
    
}
input:focus{
    border-color:#bad6c6 ;
}
